h1 {
    color: red;
    font-size: 48px;
    border: 3px;
    border-radius: 8px;
    padding: 8px;
    background-color: rgba(275, 0, 275, 100%);
    box-sizing: border-box;
    width: fit-content;
    display: inline-block;

/*mere videos zomasac unda mivxedo*/

body {
    text-align: center;
    background-color: skyblue;
    background-image: url("../images/Screenshot\ \(45\).png");
}
}

p {
    color: white;
}
