body{
    font-weight: 200;
}

h3 {
    display: inline-block;
    font-size: 28px;
    color: #199159;
    width: 50%;
    margin-left: 10%;
}

span {
    display: inline-block;
    font-size: 18px;
    margin: 20px;
}

#basket {
    padding: 10px 18px;
    border-radius: 7px;
    background-color:#0c9153;
}

hr {
    width: 80%;
    color: #818182;
}

h1 {
    font-weight: 300;
    margin-left: 10%;
    display: inline-block;
    font-size: 56px;
}

#ItemsQuantity{
    font-size: 22px;
    font-weight: 10;
}

.container {
    max-height: 600px;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
}